= render 'shared/obj', obj: @page if @page
ui.list-group
  li.list-group-item = link_to 'Список видео', video_markup_videos_path
  li.list-group-item = link_to 'Герои', video_markup_heroes_heroes_path
  li.list-group-item = link_to 'Банки', video_markup_heroes_banks_path
  li.list-group-item = link_to 'Юниты', video_markup_heroes_units_path
  li.list-group-item = link_to 'Все бои', video_markup_heroes_fights_path
