.container
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .row
    .col
      = link_to 'Создать', new_video_markup_video_path, class: 'btn btn-success mb-4'
  - @videos.in_groups_of(3, false) do |group|
    .row
      - group.each do |video|
        .col-sm-4
          = link_to video_markup_video_path(video) do
            .card
              = image_tag video.snippet_url, class: 'card-img-top', alt: 'Видео snippet'
              .card-body
                h5.card-title = video.streamer.name
                h6.card-subtitle = l(video.published_at, format: :long)
                .card-text = video.title
  = paginate @videos, theme: 'bootstrap-5'
