// Include any default variable overrides here (though functions won't be available)
//$body-bg: #edf3f3;

//$primary:       #000;
//$secondary:     #b2a796;
//$success:       #549433;
//$info:          #afb437;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-900 !default;
@import "bootstrap/scss/bootstrap";

// Then add additional custom code here
