.card.js-activity-exercise-fields
  .card-header.d-flex.justify-content-between
    h2 Упражнение
    = link_to_delete_row(:button, 'js-activity-exercise-fields', class: 'btn btn-danger m-1', type: 'button') do
      i.fas.fa-ban
  .card-body
    = f.input :id, as: :hidden
    = f.input :exercise_id, as: :select, collection: Sport::Exercise.pluck(:name, :id)
    = f.input :comment
    = f.input :_destroy, as: :hidden
