= simple_form_for activity do |f|
  = f.button :submit, class: 'btn btn-success', value: 'Сохранить'
  = f.input :name, label: 'Название', required: true
  = f.input :started_at, as: :datetime, html5: true, label: 'Начало'
  = f.input :duration, as: :time, label: 'Длительность', html5: true, input_html: {step: 1}
  = f.input :kind, as: :combobox, label: "Тип", values: kinds
  = f.input :enabled, label: 'Видна всем посетителям сайта'
  = f.input :strava_activity_id, as: :hidden
  .js-activity_exericises-fields
    = f.simple_fields_for(:activity_exercises, f.object.activity_exercises.try { |collection| collection.presence || collection.new }) do |ae_f|
      = render 'sport/activities/activity_exercise_fields', f: ae_f

  .btn-group
    = link_to_add_row('Добавить упражнение', f, :activity_exercises, 'js-activity_exericises-fields', view_path: 'sport/activities/activity_exercise_fields', class: 'btn btn-primary')
    = f.button :submit, class: 'btn btn-success', value: 'Сохранить'
