- if list.present?
  .list-group
    - list.each do |provider_activity|
      = link_to "#{provider_activity.provider_name} #{provider_activity.kind_human} #{l(provider_activity.started_at, format: :short)}", provider_activity, class: 'list-group-item list-group-item-action'
