- if can?(:update, activity)
  /.btn-group.d-none.d-sm-inline-flex
  .btn-group
    = link_to [:edit, activity], class: 'btn btn-primary m-1', title: 'Редактировать' do
      i.fas.fa-edit

  /.dropdown.d-sm-none
    button.btn.btn-secondary id=dropdown_id data-bs-toggle="dropdown" aria-expanded="false"
      i.fas.fa-ellipsis-v
    ul.dropdown-menu.dropdown-menu-end aria-labelledby=dropdown_id
      li = link_to 'Редактировать', [:edit, activity], class: 'dropdown-item'
