- if list.present?
  .row.row-cols-2.row-cols-sm-3.row-cols.md-4.mt-2.g-0
    - sort_by_orientation(list, group_sizes: [2,3], vertical_method: :video_vertical?).each do |decorated_item|
      - item = decorated_item[:item]
      .col.aesn-flex-order style=('width: 100%' unless item.video_vertical?) data-flex-order=decorated_item[:sizes][2] data-sm-flex-order=decorated_item[:sizes][3]
        = aesn_video_tag *item.exercise.video_sources_with_meta(:width), style: 'width: 100%; height: auto;', autoplay: true, muted: true, loop: true, poster: item.exercise.video_url(:screenshot)
