.container-fluid
  = render 'shared/obj', obj: @page
  = render 'sport/activities/form', activity: @sport_activity, kinds: @kinds

= javascript_pack_tag 'has_many_fields', 'data-turbolinks-track': 'reload'

