.container-fluid
  = render 'shared/obj', obj: @page
  .row.justify-content-center
    .btn-group
      = link_to "Мои тренировки из strava", strava_activities_path, class: 'btn btn-primary btn-lg px-4 gap-3'
  .row.row-cols-1.row-cols-sm-2.row-cols.md-3.g-3.mt-2
    - @sport_activities.each do |activity|
      .col
        .card.shadow-sm
          .card-header = activity.kind
          .card-body
            h2.card-title = activity.name
            - if activity.duration
              .card-text = l(activity.duration, format: '%T')
            = render 'sport/activities/provider_list', list: activity.provider_activities

            .d-flex.justify-content-between.align-items-center.mt-1
              .btn-group
                = link_to 'Подробнее', sport_activity_path(activity), class: 'btn btn-sm btn-outline-secondary'
              small.text-muted = l(activity.started_at, format: :short)
  = paginate @sport_activities, theme: 'bootstrap-5'
