.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true

  .px-4.py-5.my-5
    .card
      .card-header
        .d-flex.justify-content-between.align-items-center
          h1 = "#{@resource.kind} — #{@resource.name}"
          = render 'sport/activities/show_actions', activity: @resource, dropdown_id: 'sport-activity-show-actions'
      - if @resource.provider_activities.present?
        .card-body
          h2.card-title От #{Russian.p(@resource.provider_names.size, "провайдера", "провайдеров", "провайдеров")} #{@resource.provider_names.to_sentence}
          = render 'sport/activities/provider_list', list: @resource.provider_activities
  = render 'sport/activities/video_gallery', list: @resource.activity_exercises_with_video



