= simple_form_for @claim do |f|
  = f.input :phone, label: false, placeholder: 'Телефон или другой способ связи'
  = f.input :best_time, label: false, placeholder: 'Удобное время для занятия'
  = f.input :comment, label: false, placeholder: 'Пару слов о себе'
  = f.button :submit, class: 'btn btn-danger', value: 'Отправить'
