.container-fluid
  = render 'shared/obj', obj: @page
  .row.row-cols-1.row-cols-sm-2.row-cols.md-3.g-3.mt-2
    - @users.each do |user|
      .col
        .card.shadow-sm
          .card-body
            h2.card-title = user.name
            .d-flex.justify-content-between.align-items-center.mt-1
              .btn-group
                = link_to 'Подробнее', user_path(user), class: 'btn btn-sm btn-outline-secondary'

