.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true

  .px-4.py-5.my-5
    .card
      .card-header
        .d-flex.justify-content-between.align-items-center
          h1 = @user.name
          - if can?(:read, User::Identity) && @user.identities.to_a.any?
            ul
              - @user.identities.each do |identity|
                - if identity.profile_url
                  = social_link(identity.provider, identity.profile_url)
      .card-body
        = link_to 'Пробежки', user_runs_path(@user), class: 'btn btn-outline-primary'
