.row.row-cols-1.row-cols-sm-2.row-cols.md-3.g-3.mt-2
  - activities.each do |activity|
    .col
      .card.shadow-sm
        .card-body
          h2.card-title = activity.name
          .d-flex.justify-content-between.align-items-center.mt-1
            .btn-group
              = link_to 'Подробнее', strava_activity_path(activity), class: 'btn btn-sm btn-outline-secondary'
