table.table.table-sm
  thead
    tr
      th scope="col" Когда
      th scope="col" Время
      th scope="col" Дист
      th scope="col" Темп
      th scope="col" Пульс
    - activities.each do |activity|
      tr
        = render 'users/runs/table_cell', content: l(activity.start_date, format: :short), activity: activity
        = render 'users/runs/table_cell', content: hhmmss(activity.moving_time), activity: activity
        = render 'users/runs/table_cell', content: number_to_human(activity.distance, units: :distance, strip_insignificant_zeros: true), activity: activity
        = render 'users/runs/table_cell', content: hhmmss(activity.average_pace), activity: activity
        = render 'users/runs/table_cell', content: activity.average_heartrate, activity: activity
