= search_form_for q, url: url do |f|
  = f.input :start_date_gteq, as: :date, html5: true, label: 'От'
  = f.input :start_date_lt, as: :date, html5: true, label: 'До'
  .button-group
    = f.button :submit, class: 'btn btn-success w-100', value: 'Применить'
