.px-2.py-2.my-2.text-center
  p Всего по данным Stava-приложения #{@user.name} пробежал #{number_to_human(@total_distance, units: :distance, strip_insignificant_zeros: true, format: '%n %u')} за&nbsp;#{hhmmss(@total_time)} в&nbsp;период с&nbsp;#{l(@q.start_date_gteq, format: :short)} по&nbsp;#{l(@q.start_date_lt, format: :short)}. Всего #{@activities.size} #{Russian.p(@activities.size, 'пробежка', 'пробежки', 'пробежек')} за&nbsp;выбранный период. Данные о&nbsp;пробежках внутри легкоатлетического манежа могут отличаться неадекватностью из-за низкого качества работы GPS трекера.
