.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true if @page
  .px-2.py-2.my-2.text-center
    h1.display-5.fw-bold = @page&.h1 || "Пробежки пользователя #{@user.name}"
  = render 'users/runs/summary', activities: @activities
  = render 'users/runs/search_form', q: @q, url: user_runs_path(@user)
  = render 'users/runs/as_table', activities: @activities
  /= render 'users/runs/as_cards', activities: @activities
