- active_admin_resource = ActiveAdmin.application.namespaces.map { |ns| ns.resources.find { |r| r.resource_name.name == obj.class.to_s } }.find(&:itself)
- if active_admin_resource
  .admin_link
    = link_to label, active_admin_resource.route_member_action_path(:edit, obj.id), 'data-no-turbolink' => "true", 'data-turbolinks' => "false"
