- obj = @template if !obj.persisted? && @template
- if user_signed_in? && respond_to?(:can?) && can?(:edit, obj) && obj.persisted?
  - label = obj == @template ? 'Редактировать шаблон' : 'Редактировать'
  = render 'shared/admin_link', obj: obj, label: label

- if @resource && user_signed_in? && respond_to?(:can?) && can?(:edit, @resource) && @resource.persisted?
  = render 'shared/admin_link', obj: @resource, label: "Редактировать #{@resource.class.to_s}"

