.btn-group.d-none.d-sm-inline-flex
  - actions.each do |target, options|
    = link_to options.content || options.label, target, class: 'btn btn-primary m-1', **options.to_h.slice(:method, :title, :style, :target)
.dropdown.d-sm-none
  button.btn.btn-secondary id=dropdown_id data-bs-toggle="dropdown" aria-expanded="false"
    i.fas.fa-ellipsis-v
  ul.dropdown-menu.dropdown-menu-end aria-labelledby=dropdown_id
    - actions.each do |target, options|
      li = link_to options.label, options.target, class: 'dropdown-item', **options.to_h.slice(:method, :target)
