.flash
  - unless flash.empty?
    - flash.each do |type, message|
      - next if message.blank?
      .alert.alert-dissmissible.fade.show class="alert-#{bootstrap_type(type)}"
        = simple_format(message.to_s.strip)
