- unless obj.nil?
  - content = capture do
    - if (!defined?(h1) || h1) && !obj.h1.blank?
      h1= "#{obj.h1}#{page_suffix}"
    = raw obj.content
    = render 'shared/admin_links', obj: obj
  - if !content.blank? && !local_assigns[:hide_content]
    .text_content
      = content

  - content_for :meta do
    = render 'shared/meta', obj: obj
    = render 'shared/og', title: obj.og_title, image: obj.og_image&.url, image_geometry: {height: obj.og_image&.height, width: obj.og_image&.width}
