meta property="og:site_name" content=(@og_site_name || "Aesn")
- if defined?(title) && !title.blank?
  meta property='og:title' content=title
- if defined?(image) && !image.blank?
  meta property='og:image' content="#{request.scheme}://#{request.host_with_port}#{image}"
  meta property='og:image:alt' content=((defined?(title) && !title.blank?) ? title : 'Aesn image')
  - if defined?(image_geometry) && !image_geometry.blank?
    meta property='og:image:width' content=image_geometry[:width]
    meta property='og:image:height' content=image_geometry[:height]
- if defined?(desc) && !desc.blank?
  meta property='og:description' content=desc
- if defined?(type) && !type.blank?
  meta property='og:type' content=type
- else
  meta property='og:type' content='website'
