.container-fluid
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .row
    - @units_by_castle.each do |castle, units|
      .col-xl-4.col-md-6
        .card.mb-5.bg-dark.text-white style="max-width: 400px"
          .card-body.container
            .row.mb-3
              .col-9
                = castle&.name || 'Нейтралы'
                - fights = units.map(&:enabled_fights_count).sum
                = " (#{fights} #{Russian.p(fights, "бойвка", "боёвки", "боёвок")})"
              - if castle
                .col-3.p-0.d-flex.justify-content-center
                  .badge.bg-light.text-dark
                    = image_tag castle.image.url, alt: castle.name, title: castle.name, width: 48, height: 32
            - units.to_a.sort_by(&:id).in_groups_of(4, false).each do |group|
              .row.mb-3
                - group.each do |unit|
                  .col-3.d-flex.justify-content-center.p-0
                    = link_to video_markup_heroes_unit_path(unit.slug), class: 'card', style: 'width: 60px' do
                      = image_tag(unit.image_url || "https://via.placeholder.com/64x58.png", alt: unit.name, title: unit.name, class: 'card-img-top', height: 64, width: 58)
                      .badge.bg-light.text-dark title="#{unit.enabled_fights_count} боёвок с #{unit.name} есть на сайте" = unit.enabled_fights_count
