.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true if @page
  .px-4.py-5.my-5.text-center
    h1.display-5.fw-bold = @page&.h1 || 'Анатолий Ширыкалов'
    .col-lg-6.mx-auto
      p.lead.mb-4 = @page&.content || 'Напиши текст в админке'

