.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true
  .px-4.py-5.my-5.text-center
    h1.display-5.fw-bold = @page&.h1 ||'Интеграция со Strava'
    .col-lg-6.mx-auto
      p.lead.mb-4 = @page&.content || 'Напиши текст в админке'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center
        - if strava_connected?
          = link_to 'Активности', strava_activities_path, class: 'btn btn-primary btn-lg px-4 gap-3'
        - else
          = link_to 'Привязать strava', omniauth_authorize_path(:user, :strava), class: 'btn btn-primary btn-lg px-4 gap-3'
      - if strava_connected? && @sync
        .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mt-5
          = render 'strava/syncs/form', sync: @sync


