.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true if @page
  .px-4.py-5.my-5.text-center
    h1.display-5.fw-bold = @page&.h1 || 'Виджеты'
    .col-lg-6.mx-auto
      p.lead.mb-4 = @page&.content || 'Сделал тут парочку'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center
        = link_to 'Клавиатуры', widgets_keyboards_path, class: 'btn btn-primary btn-lg px-4 gap-3'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mt-2
        = link_to 'Календари', widgets_calendars_path, class: 'btn btn-primary btn-lg px-4 gap-3'
