.row.mb-3
  = form_for @q, as: :q, url: video_markup_heroes_bank_path(@bank.slug), method: :get, html: {class: 'col-xl-6 col-lg-9'} do |f|
    h3 Фильтровать
    .form-group.row.mb-2
      = f.label :bank_value_eq, "Размер #{@bank.cases['gent_sing']}", class: 'col-3 col-form-label'
      = f.select :bank_value_eq, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4']], f.object.bank_value_eq), {include_blank: true},  class: 'form-control col-8'
    = render 'range_field', label: "День взятия #{@bank.cases['gent_sing']}", f: f, field: :day
    = render 'range_field', label: "Атака", f: f, field: :attack
    = render 'range_field', label: "Защита", f: f, field: :defence
    = render 'range_field', label: "Силы заклинаний", f: f, field: :spell_power
    = render 'range_field', label: "Знания", f: f, field: :knowledge
    .form-group.mb-2
      = f.submit 'Фильтровать', class: 'btn btn-primary mr-2'
      = link_to 'Очистить фильтр', video_markup_heroes_bank_path(@bank.slug), class: 'btn btn-light'
  .col-xl-6.col-lg-9
    h3 Сортировать по
    = sort_link(@q, :bank_value, "размеру #{@bank.cases['gent_sing']}", {}, class: 'mr-2 mb-2 btn btn-secondary')
    = sort_link(@q, :day, "дню", {}, class: 'mr-2 mb-2 btn btn-secondary')
    = sort_link(@q, :attack, "атаке", {}, class: 'mr-2 mb-2 btn btn-secondary')
    = sort_link(@q, :defence, "защите", {}, class: 'mr-2 mb-2 btn btn-secondary')
    = sort_link(@q, :spell_power, "силе заклинаний", {}, class: 'mr-2 mb-2 btn btn-secondary')
    = sort_link(@q, :knowledge, "знаниям", {}, class: 'mr-2 mb-2 btn btn-secondary')


