.form-grouo.row.mb-2
  .col-3.col-form-label = label
  = f.label :"#{field}_gteq", "от", class: 'col-1 col-form-label'
  = f.number_field :"#{field}_gteq", class: 'form-control col-1'
  = f.label :"#{field}_lteq", "до", class: 'col-1 col-form-label'
  = f.number_field :"#{field}_lteq", class: 'form-control col-1'
