.container-fluid
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .list-group style="max-width: 500px"
    - @banks.each do |bank|
      = link_to video_markup_heroes_bank_path(bank.slug), class: 'list-group-item mb-1 d-flex justify-content-between align-items-center' do
        = bank.full_name
        = image_tag bank.image.url, class: 'badge.bg-light.text-dark', height: 60
