.container-fluid
  = render 'shared/obj', obj: @page
  = render 'form'
  = render 'video_markup/moments/cat', moments: @fights.map(&:moment), path_to_next_page: (path_to_next_page(@fights) || path_to_other_bank)
  = render 'video_markup/heroes/fights/list', fights: @fights
