= render 'blocks/sidebar'

nav.navbar
  .container-fluid
    nav aria-label="breadcrumb"
      ol.breadcrumb
        - breadcrumb_trail do |crumb|
          li.breadcrumb-item class="#{crumb.current? ? 'active' : ''}" aria-current=("page" if crumb.current?)
            = link_to crumb.name, crumb.url
