header.sticky-top.d-block
  button.btn.btn-primary.m-2.js-sidebar-open
    i.fas.fa-bars
.navbar#sidebar.fixed-top.d-none.js-sidebar.pt-0
  nav.nav.nav-pills.bg-light
    ul.list-unstyled.ps-0
      li
        button.btn.btn-danger.m-2.js-sidebar-close
          i.fas.fa-times.me-1
          span Закрыть
      - menu_tree.each do |item|
        = render 'blocks/menu/item', item: item, level: 0

