ul.list-group style="max-width: 800px"
  - fights.each do |fight|
    li.list-group-item.d-flex.justify-content-between.align-items-center
      = fight.full_text_with_streamer
      = link_to 'Смотреть', fight.moment.remote_url, class: 'badge bg-primary rounded-pill p-2', target: '_blank'
= paginate fights, theme: 'bootstrap-5'
