- if day.month != current_month
  td.table-secondary.text-secondary = day.day
- elsif day_data.present? && day_data[:values].present?
  td.position-relative
    = day.day
    .position-absolute.top-0.d-flex.align-items-center style='width: 100%'
      - column_names&.each_with_index do |column_name, idx|
        - value = day_data[:values][column_name]
        - if value
          .m-1 title="#{column_name} #{value[:value]}" style="background-color: ##{value[:color_hex]}; #{calendar_value_style(idx)}"
        - else
          .m-1.invisible
- else
  td = day.day
