.row.row-cols-1.row-cols-md-2.row-cols-xl-3
  - days.group_by { |day_data| day_data[:date].beginning_of_month }.each do |beginning_of_month, days_of_month|
    - grouped_days_of_month = days_of_month.index_by { |day_data| day_data[:date] }
    .card.col.shadow-sm
      .card-header = l(beginning_of_month, format: '%B %Y')
      .card-body
        table.table.text-center
          thead
            tr
              th
              - (beginning_of_month.beginning_of_week..(beginning_of_month.beginning_of_week + 6.days)).each do |wday|
                th scope="col" = l(wday, format: '%a')
          tbody
            - (beginning_of_month.beginning_of_week..beginning_of_month.end_of_month.end_of_week).to_a.in_groups_of(7).each do |week|
              tr
                th scope="row" = week.first.cweek
                - week.each do |day|
                  = yield(day, grouped_days_of_month[day], beginning_of_month.month)
