= form_tag url, method: :get do
  .row.row-cols-1.row-cols-sm-3
    .form-floating.col.mb-2
      input.form-control name="date_from" type="date" id="#{id_prefix}_from" placeholder="От" value=date_from
      label for="#{id_prefix}_from" От
    .form-floating.col.mb-2
      input.form-control name="date_to" type="date" id="#{id_prefix}_to" placeholder="До" value=date_to
      label for="#{id_prefix}_to" До
    .col
      button.btn.btn-success.mb-2 type="submit" Применить

