= simple_form_for calendar do |f|
  = f.button :submit, class: 'btn btn-success', value: 'Сохранить'
  = f.input :name, label: 'Название', required: true
  = f.input :date_from, as: :date, html5: true, required: true, label: 'От'
  = f.input :date_to, as: :date, html5: true, label: 'До'
  = f.input :file, as: :file, label: 'CSV-файл с данными', required: true, input_html: {accept: 'text/csv'}
  = f.input :content, label: 'Описание'
  = f.input :enabled, label: 'Виден всем посетителям сайта'
  = f.button :submit, class: 'btn btn-success', value: 'Сохранить'
