= form_tag url, method: :get do
  .form-group.mb-1
    = select_tag "columns", options_for_select(columns, selected_columns), multiple: true, class: 'form-select'
  .btn-group.mb-2
    button.btn.btn-success type="submit" Применить колонки
    = link_to 'Редактировать календарь', edit_widgets_calendar_path(@calendar), class: 'btn btn-outline-secondary'
