.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true if @page
  .px-4.py-5.my-5.text-center
    h1.display-5.fw-bold = @page&.h1 || 'Мои календари'
    .col-lg-6.mx-auto
      p.lead.mb-4 = @page&.content || 'Например визуализация данных дневника головной боли на производственном календаре'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center
        = link_to 'Создать новый', new_widgets_calendar_path, class: 'btn btn-primary btn-lg px-4 gap-3'
  .row.row-cols-1.row-cols-sm-2.row-cols.md-3.g-3.mt-2
    - @calendars.each do |calendar|
      .col
        .card.shadow.sm
          .card-header = calendar.name
          .card-body
            h2.card-text = calendar.content
            .d-flex.justify-content-between.align-items-center.mt-1
              .btn-group
                = link_to 'Подробнее', widgets_calendar_path(calendar), class: 'btn btn-sm btn-outline-secondary'
                = link_to 'Редактировать', edit_widgets_calendar_path(calendar), class: 'btn btn-sm btn-outline-secondary'
  = paginate @calendars, theme: 'bootstrap-5'
