.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true if @page
  .row.row-cols-1.mb-2
    = render 'widgets/calendars/form', calendar: @calendar
    / = render 'dates_form', id_prefix: 'dates-form', date_from: @date_from, date_to: @date_to, url: request.path
  .row.row-cols-1.mb-2
    h4.col Пример
  = render 'widgets/calendars/calendar', days: @calendar.days do |day, day_data, current_month|
    = render 'widgets/calendars/calendar_day', day: day, day_data: day_data, current_month: current_month
