.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true if @page
  .px-2.py-2.my-2.text-center
    h1.display-5.fw-bold = @page&.h1 || @calendar.name
    .col-lg-6.mx-auto
      p.lead.mb-4 = @page&.content || @calendar.content
  = render 'widgets/calendars/mapping_form', columns: @columns, url: request.path, selected_columns: @selected_columns
  = render 'widgets/calendars/calendar', days: @days do |day, day_data, current_month|
    = render 'widgets/calendars/calendar_day', day: day, day_data: day_data, current_month: current_month, column_names: @selected_columns

