.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true
  .px-4.py-5.my-5
    h1 = @simple_group.name
  = render 'sport/exercises/list', exercises: @exercises
  = paginate @exercises, theme: 'bootstrap-5'
