p = "#{["Здравствуйте", "#{@user.name}"].compact.join(', ')}!"

p
  | Поступил запрос на слияние аккаунта 
  - if @identity.profile_url
    = link_to @identity.profile_label, @identity.profile_url
  - else
    = @identity.profile_label
  = " с вашим email-ом."
p
  | Если этот запрос отправляли не вы, просто проигнорируйте это письмо.

p
  = "Ниже ссылка действительна до #{l(@merge.token_expires_at, format: :long)}"
div
  = link_to "Подтвердить", confirm_user_merges_url(token: @merge.token)
