- if item.divider?
  li.border-top.my-3
- elsif item.children.present?
  li.mb-1
    button.btn.btn-toggle.sidebar-toggle.align-items-center.rounded.collapsed data-bs-toggle="collapse" data-bs-target="#collapse-#{item.object_id}" aria-expanded="#{item.expanded?}"
      = item.label
    .collapse id="collapse-#{item.object_id}" class=("show" if item.expanded?)
      ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
        - if item.url
          = render 'blocks/menu/item', item: item.without_children, level: level + 1
        - item.children.each do |child|
          = render 'blocks/menu/item', item: child, level: level + 1
- else
  li
    = link_to item.label, item.url, class: ['nav-link link-dark rounded sidebar-a', ('sidebar-toggled-a' if level > 0), ('active' if item.active? )].compact.join(' '), **item.options
