.container-fluid
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .row
    - @heroes_by_castle.each do |castle, heroes|
      .col-xl-4.col-md-6
        .card.mb-5.bg-dark.text-white style='max-width: 400px'
          .card-body.container
            .row.mb-3
              .col-9
                = castle&.name || 'Нейтралы'
                - fights = heroes.map(&:enabled_fights_count).sum
                = " (#{fights} #{Russian.p(fights, "боёвка", "боёвки", "боёвок")})"
              - if castle
                .col-3.p-0.d-flex.justify-content-center
                  .badge.bg-light.text-dark
                    = image_tag castle.image.url, alt: castle.name, class: 'card-img-top', width: 48, height: 32
            - heroes.to_a.sort_by(&:id).in_groups_of(4, false).each do |group|
              .row.mb-3
                - group.each do |hero|
                  .col-3.d-flex.justify-content-center.p-0
                    = link_to video_markup_heroes_hero_path(hero.slug), class: 'card', style: "width: 60px; position: relative" do
                      div style="position: absolute; color: transparent; word-wrap: bread-word; width: 60px" title=hero.name = hero.name
                      = image_tag hero.image.url, alt: hero.name, title: hero.name, class: 'card-img-top', height: 64, width: 58
                      .badge.bg-light.text-dark title="#{hero.enabled_fights_count} #{Russian.p(hero.enabled_fights_count, "боёвка", "боёвки", "боёвок")} #{hero.name} есть на сайте" = hero.enabled_fights_count
