= render 'shared/obj', obj: @page if @page
= render 'video_markup/moments/cat', moments: @fights.map(&:moment), path_to_next_page: (path_to_next_page(@fights) || path_to_other_hero)
= render 'video_markup/heroes/fights/list', fights: @fights
