.container-fluid
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .row
    .col-12
      = link_to 'Создать сессию', new_local_markup_path, class: 'btn btn-success'
  - if @local_markups.empty?
    .row
      .col-12
        | Пока нет ни одной сессии разметки
  - else
    .list-group style="max-width: 500px"
      - @local_markups.each do |markup|
        = link_to local_markup_path(markup), title: markup.name_with_counts, class: 'list-group-item mb-1 d-flex justify-content-between align-items-center' do
          = markup.name_with_counts
    .row
      .col-12
        = paginate @local_markups, theme: 'bootstrap-5'
