.container
  .row
    .col
      = render 'shared/obj', obj: @page if @page
  .row
    .col
      = form_for @local_markup, url: local_markups_path, method: :post, html: {class: ('is-invalid' if @local_markup.errors.any?)} do |f|
        .form-group.mb-2
          = f.label :name, "Название"
          = f.text_field :name, class: 'form-control'
          = render 'field_error', field: :name
        .form-group.mb-2
          = f.label :file, "json файлов по check-point'ам"
          = f.file_field :file, class: 'form-control'
          = render 'field_error', field: :file
        .form-group.mb-2
          = f.label :cues_file, "json содержимого cue-файлов (опционально)"
          = f.file_field :cues_file, class: 'form-control'
          = render 'field_error', field: :cues_file
        .form-group.mb-2
          = f.label :default_form, "Форма по умолчанию"
          = f.select(:default_form, @local_markup.class.default_form.options, {}, class: 'form-control')
          = render 'field_error', field: :default_form
        .form-group
          = f.submit 'Сохранить', class: 'btn btn-success'

