= render 'shared/obj', obj: @page if @page
.row
  .col
    | #{@local_markup.name_with_counts}
- if @local_markup.finished?
  .row
    .col
      | Разметка завершена 
      = link_to 'Скачать результат', local_markup_result_path(@local_markup, format: :json), class: 'btn btn-success mr-2', download: true
      = link_to 'Скачать исходник', @local_markup.file.url, class: 'btn btn-secondary mr-2', download: true
= react_component('LocalMarkup', @local_markup.as_json)
