= simple_form_for @keyboard do |f|
  = f.input :name, required: true
  = f.input :keys, required: true, input_html: {min: '1', step: 1}
  = f.input :first_freq, required: true, input_html: {min: 20, step: 'any'}
  = f.input :block_multiplicator, required: true, input_html: {min: 1, step: 'any'}
  = f.input :block_schema_string, required: true, input_html: {pattern: '\d+(-\d+)*'}, hint: 'Числа, разделённые симолом «-» означают количество белах клавиш, между которым есть чёрные. 3-4 означает, что 3 белых клавиши идут с чёрными между ними, затем нет чёрной, потом идёт 4 клавиши с чёрными между ними.'
  = f.input :start_block_at, required: true, input_html: {min: 0, step: 1}
  = f.button :submit
