= render 'shared/obj', obj: @page if @page
.widgets__keyboards-list-btns
  = link_to "Все (#{@total_count})", widgets_keyboards_path, class: 'widgets__keyboards-list-btn'
  = link_to "Одобренные (#{@enabled_count})", widgets_keyboards_path(enabled: 1), class: 'widgets__keyboards-list-btn'
  = link_to "Создать новую", new_widgets_keyboard_path, class: 'widgets__keyboards-list-btn'
.widgets__keyboards-list
  - @keyboards.each do |keyboard|
    = link_to widgets_keyboard_path(keyboard), class: 'widgets__keyboards-item' do
      .widgets__keyboards-item-name = keyboard.name
      .widgets__keyboards-item-date = l(keyboard.created_at, format: :long)
      - if keyboard.enabled
        .widgets__keyboards-item-enabled &#x2713;
.widgets__keyboards-pagination
  = paginate @keyboards
