= render 'shared/obj', obj: @page if @page
= link_to 'Создать новую', new_widgets_keyboard_path, class: 'widgets__keyboard-btn'
.widgets__keyboard.js-widgets-keyboard data=@keyboard.data
  .widgets__keyboard-keyboard
    - total_left = @keyboard.key_colors[0] == :black ? 40 : 0
    - @keyboard.key_data.each do |datum|
      .widgets__keyboard-key.js-widgets-keyboard-key class=css_for(datum) data=datum.to_h style=style_for(datum, total_left)
        - if params[:show_freqs]
          .widgets__keyboard-key-freq = datum[:frequency].round(1)
      - if datum[:color] == :white
        - total_left += 40
pre.widgets__keyboard-data = JSON.pretty_generate(@keyboard.data)
table
  - @keyboard.key_data.each do |datum|
    tr
      td = datum[:frequency]
- if @keyboard.has_samples
  div style="display: none"
    - @keyboard.key_data.each do |datum|
      audio class="js-widgets-keyboard-audio-#{datum[:id]}"
        source src="/samples/#{@keyboard.id}/#{datum[:id]}.wav"
= javascript_pack_tag 'widgets/keyboard/index'

