.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true
  .px-4.py-5.my-5.text-center
    h1.display-5.fw-bold = @page&.h1 || 'Мой спорт в aesn'
    .col-lg-6.mx-auto
      p.lead.mb-4 = @page&.content || 'Напиши текст в админке'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center
        = link_to 'Мои тренировки', sport_activities_path, class: 'btn btn-primary btn-lg px-4 gap-3'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mt-2
        = link_to 'Упражнения', sport_exercises_path, class: 'btn btn-primary btn-lg px-4 gap-3'
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mt-2
        = link_to 'Группы упражнений', sport_exercises_simple_groups_path, class: 'btn btn-primary btn-lg px-4 gap-3'
