= simple_form_for @sync do |f|
  = f.input :after, as: :datetime, html5: true, label: 'Тянуть тренировки, сохранённые после', placeholder: 'С момента'
  = f.button :submit, class: 'btn btn-danger', value: 'Синхронизировать'

