@import "main"
@import "widgets/keyboard"
@import "widgets/keyboards"
@import "bootstrap_custom/application"
@import "simple_form"
@import "overlayscrollbars/css/OverlayScrollbars.css"
@import "sidebar/sidebar"

\:root
  --bs-body-font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

.aesn-flex-order[data-flex-order]
  order: attr(data-flex-order)
@media(min-width: 500px)
  .aesn-flex-order[data-sm-flex-order]
    order: attr(data-sm-flex-order)
