.row.d-flex.justify-content-center
    .btn-group
      - strava_types.each do |strava_type, activities_count|
        = link_to "#{strava_type} (#{activities_count})", strava_activities_path(strava_type: strava_type), class: ['btn', 'm-1'] + [strava_type == current_strava_type ? 'btn-primary' : 'btn-secondary']
