.btn-group.d-none.d-sm-inline-flex
  = link_to activity.sport_activity || new_sport_activity_path(strava_activity_id: activity.id), class: 'btn btn-primary m-1', title: (activity.sport_activity ? 'Тренировка на aesn' : 'Разместить тренировку на aesn') do
    i.fas.fa-anchor
  = link_to [activity, :sync_details], class: 'btn btn-primary m-1', method: :put, title: 'Обновить описание тренировки' do
    i.fas.fa-redo.me-2
    i.fas.fa-align-left
  = link_to [activity, :sync_streams], class: 'btn btn-primary m-1', method: :put, title: 'Обновить данные для графиков' do
    i.fas.fa-redo.me-2
    i.fas.fa-heartbeat
  = link_to activity.strava_url, class: 'btn btn-primary m-1', style: 'background-color: #fd7e14', target: '_blank', title: 'Открыть на сайте strava.com' do
    i.fab.fa-strava

.dropdown.d-sm-none
  button.btn.btn-secondary id=dropdown_id data-bs-toggle="dropdown" aria-expanded="false"
    i.fas.fa-ellipsis-v
  ul.dropdown-menu.dropdown-menu-end aria-labelledby=dropdown_id
    - if activity.sport_activity_id
      li = link_to 'тренировка на aesn', sport_activity_path(id: activity.sport_activity_id), class: 'dropdown-item'
    - else
      li = link_to 'Разместить на aesn', new_sport_activity_path(strava_activity_id: activity.id), class: 'dropdown-item'
    li = link_to 'Обновить описание', [activity, :sync_details], class: 'dropdown-item', method: :put
    li = link_to 'Обновить графики', [activity, :sync_streams], class: 'dropdown-item', method: :put
    li = link_to 'На strava.com', activity.strava_url, class: 'dropdown-item', target: '_blank'
