.container-fluid
  = render 'shared/obj', obj: @page

  = render 'strava/activities/index_top_filters', strava_types: @strava_types, current_strava_type: params[:strava_type]
  .row.row-cols-1.row-cols-sm-2.row-cols.md-3.g-3
    - @activities.each do |activity|
      .col
        .card.shadow-sm
          .card-header = activity.strava_type
          .card-body
            h2.card-title = activity.name
            .card-subtitle.mb-2.text-muted = activity.user_identity.user.name
            .card-text = activity.description&.truncate(130)
            .d-flex.justify-content-between.align-items-center
              .btn-group
                = link_to 'Подробнее', strava_activity_path(activity), class: 'btn btn-sm btn-outline-secondary'
                - if activity.sport_activity_id
                  = link_to 'Aesn версия', sport_activity_path(activity.sport_activity_id), class: 'btn btn-sm btn-outline-secondary'
                - else
                  = link_to 'Создать aesn версию', new_sport_activity_path(strava_activity_id: activity.id), class: 'btn btn-sm btn-outline-secondary'
                = link_to 'На strava.com', activity.strava_url, class: 'btn btn-sm btn-outline-secondary', target: '_blank'
              small.text-muted = l(activity.start_date, format: :short)
  = paginate @activities, theme: 'bootstrap-5'
