.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true

  .px-4.py-5.my-5
    .card
      .card-header
        .d-flex.justify-content-between.align-items-center
          h1 = "#{@resource.user.name} — #{@resource.name}"
          = render 'strava/activities/show_actions', activity: @resource, dropdown_id: 'activity-show-actions'

      .card-body.d-flex
        .col-md-6.col
          h2.card-title = @resource.name
          .card-subtitle.mb-2.text-muted = l(@resource.start_date, format: :long)
          - @resource.description&.split("\n")&.each do |content|
            p.card-text = content
        .col-md-6.col
          .row
            = render 'strava/activities/summary_block', label: 'Дистанция', value: number_to_human(@resource.distance, units: :distance, strip_insignificant_zeros: true)
            = render 'strava/activities/summary_block', label: 'Чистое время', value: hhmmss(@resource.moving_time)
            = render 'strava/activities/summary_block', label: 'Темп', value: hhmmss(@resource.average_pace).try { |v| "#{v}/км"}
      - if @resource.strava_type == 'Run' && @resource.stream_set && @resource.stream_set.velocity_smooth.present?
        .card-body.d-flex.border-top.border-light.border-4#js-plot-load-spinner
          .spinner-border.text-primary role="status"
        .card-body.d-flex.border-top.border-light.border-4
          .col-12.col
            #js-activity-charts data-props=@resource.stream_set.to_plotly.to_json data-extra=@resource.stream_set.data_to_calc_average_values_in_segments.to_json data-spinner='js-plot-load-spinner'
        = javascript_pack_tag 'strava_charts', 'data-turbolinks-track': 'reload'

            /= react_component('StravaPlots', **@resource.stream_set.to_plotly)



