.simple_form
  &__label
    display: inline-block
    width: 200px
    word-wrap: break-word
  &__hint
    font-size: small
    display: inline-block
    max-width: 300px
    overflow: auto
    position: absolute
    height: 6ex
    border: 1px solid gray
    padding: 3px
  &__input
    margin-bottom: 20px
  &__input-input
    display: inlint-block
    padding: 5px 10px
    box-shadow: 1px 0px 0px grey
    margin-right: 10px
  &__btn
    padding: 5px
    font-size: large
    cursor: pointer

