.container-fluid
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .row
    .col
      = link_to 'Создать', new_share_link_path, class: 'btn btn-success mb-4'
  .list-group style="max-width: 500px"
    - @share_links&.each do |share_link|
      = link_to share_link_path(share_link), share_link_path(share_link), class: 'list-group-item mb-1', style: 'overflow: hidden'


