.container
  .row
    .col-12
      = render 'shared/obj', obj: @page if @page
  .row
    .col
      = form_for @share_link, method: :post do |f|
        .form-group.mb-2
          = f.label :url, 'Ссылка на файл'
          = f.text_field :url, class: 'form-control'
          = render 'field_error', field: :url
        .form-group
          = f.submit 'Сохранить', class: 'btn btn-success'

