.container
  .row
    .col
      = render 'shared/obj', obj: @page if @page
  - if params[:h]
    = react_component('markup/File', path: @share_link.url, strict: true, hideActions: true)
  - else
    .btn.btn-danger.js-share-links-open
      | Открыть ссылку
= javascript_pack_tag 'share_links/index', 'data-turbolinks-track': 'reload'
