= simple_form_for exercise do |f|
  = f.input :name, required: true, label: 'Название'
  = f.input :simple_group_name, as: :combobox, label: 'Группа', values: simple_groups
  = f.input :content, label: 'Описание'
  = f.input :video, as: :file, label: 'Видео'
  = f.button :submit, class: 'btn btn-success', value: 'Сохранить'
