.row.row-cols-1.row-cols-sm-2.row-cols.md-3.g-3.mt-2
  - exercises.each do |exercise|
      .col
        .card.shadow-sm
          .card-header = exercise.name
          - if exercise.video_derivatives.present?
            = aesn_video_tag *exercise.video_sources_with_meta(:width), style: 'width: 100%; height: auto', controls: true
          .card-body
            h2.card-title = exercise.user.name
            .card-text = exercise.content
            .d-flex.justify-content-between.align-items-center
              .btn-group
                = link_to 'Подробнее', sport_exercise_path(exercise), class: 'btn btn-sm btn-outline-secondary'
                - if can?(:update, exercise)
                  = link_to 'Редактировать', edit_sport_exercise_path(exercise), class: 'btn btn-sm btn-outline-secondary'
              small.text-muted = l(exercise.created_at, format: :short)
