.btn-group.d-none.d-sm-inline-flex
  = link_to [:edit, exercise], class: 'btn btn-primary m-1', title: 'Редактировать' do
    i.fas.fa-edit
  = link_to [exercise, :refresh_video_derivatives], class: 'btn btn-primary m-1', title: 'Обновить видео', method: :put do
    i.fas.fa-redo.me-2
    i.fas.fa-video
.dropdown.d-sm-none
  button.btn.btn-secondary id=dropdown_id data-bs-toggle="dropdown" aria-expanded="false"
    i.fas.fa-ellipsis-v
  ul.dropdown-menu.dropdown-menu-end aria-labelledby=dropdown_id
    li = link_to 'Редактировать', [:edit, exercise], class: 'dropdown-item'
    li = link_to 'Обновить видео', [exercise, :refresh_video_derivatives], class: 'dropdown-item', method: :put
