.container-fluid
  = render 'shared/obj', obj: @page
  .row.justify-content-center
    .btn-group
      = link_to "Создать новое", new_sport_exercise_path, class: 'btn btn-danger btn-lg px-4 gap-3'
  = render 'sport/exercises/list', exercises: @exercises
  = paginate @exercises, theme: 'bootstrap-5'
