.container-fluid
  = render 'shared/obj', obj: @page, hide_content: true
  .px-4.py-5.my-5
    .card
      .card-header
        .d-flex.justify-content-between.align-items-center
          h1 = @resource.name
          = render 'sport/exercises/show_actions', exercise: @resource, dropdown_id: 'sport-activity-show-actions'
      - if @exercise.video_derivatives.present?
        = aesn_video_tag *@exercise.video_sources_with_meta(:width), style: 'width: 100%; height: auto', autoplay: true, muted: true, loop: true, controls: true
      /video src=attachment.url style='width: 100%; height: auto;' autoplay="" muted="" loop="" controls=""
      .card-body
        - if @exercise.video && @exercise.video_derivatives.blank?
          p Видео ещё не обработано
        p = @resource.content
