.widgets__keyboards
  &-list
    &-btn
      display: inline-block
      &:not(:first-child)
        margin-left: 10px
      margin-bottom: 20px
  &-item
    display: inline-block
    margin-right: 30px
    margin-bottom: 50px
    text-decoration: none
    color: black
    border: 1px solid black
    box-shadow: 3px 3px 0px black
    &:hover
      background-color: lightgray
    &-name
      margin: 10px
    &-date
      margin: 10px
    &-enabled
      text-align: center
      color: green
      font-size: large
      margin: 10px
