.widgets
  &__keyboard
    max-width: 100%
    overflow-x: auto
    min-height: 250px
    &-btn
      display: block
      margin-bottom: 20px
    &-keyboard
      position: relative
    &-key
      position: absolute
      border: 1px solid rgba(32,32,32,0.2)
      border-radius: 0px 0px 5px 5px
      cursor: pointer
      box-shadow: 0px 5px 1px rgba(32,32,32,0.2)
      &-color-white
        z-index: 0
        width: 40px
        height: 200px
        background-color: white
      &-color-black
        z-index: 10
        width: 30px
        height: 120px
        background-color: black
        color: white
      &:hover
        background-color: orange
      &-pressed
        margin-top: 5px
        box-shadow: none
        background-color: red
      &-freq
        position: absolute
        bottom: 20px
        transform: rotate(-90deg)
