doctype html
html lang="ru"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, maximum-scale=1, minimal-ui"
    = render 'layouts/favicon'
    = render 'shared/canonical'
    title
      - if @page&.title.present?
        = "Aesn — #{@page.title}#{page_suffix}"
      - else
        = page_title
    = yield :meta
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true

    / turbolinks мешает поставить вниз body. Нужно разобраться
    = javascript_pack_tag 'bootstrap_imports', 'data-turbolinks-track': 'reload', defer: true
    - if @video_js
      = javascript_pack_tag 'videos', 'data-turbolinks-track': 'reload', defer: true
  body
    = render 'blocks/header'
    main.main
      = render 'shared/messages'
      = yield
    = render 'blocks/footer'

