doctype html
html lang="ru"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, maximum-scale=1, minimal-ui"
    = render 'shared/canonical'
    title
      - if @page&.title.present?
        = @page.title
      - else
        = page_title
    = yield :meta
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'saiu', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'saiu', 'data-turbolinks-track': 'reload'
  body
    = render 'saiu/header'
    main.main
      = render 'shared/messages'
      = yield
